# This is a python notebook that is a rough sketch of the main python file

In [3]:
import pandas as pd
df = pd.read_csv('adult.data.csv')

In [5]:
print(df.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [27]:
# Finding the percentage of men
per_men = float(df['sex'].value_counts()['Male']/len(df))
print(per_men)

0.6692054912318418

In [30]:
per_bachelor = float(df.education.value_counts()['Bachelors']/len(df))
df.education.value_counts()
print(per_bachelor)

0.16446055096587942

In [37]:
higher_edu = df[df['education'].isin(['Bachelors','Masters','Doctorate'])]
lower_edu = df[~df['education'].isin(['Bachelors','Masters','Doctorate'])]

lower_edu

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [53]:
higher_education_rich = round((len(higher_edu.query('salary == ">50K"'))/len(higher_edu)*100),2)
print(higher_education_rich)
lower_education_rich = round((len(lower_edu.query('salary == ">50K"'))/len(lower_edu)*100), 2)
print(lower_education_rich)

46.54
17.37

In [68]:
min_work_hours = int(df['hours-per-week'].min(skipna=True))
# min_work_hours
# num_min_workers = df.loc[(df['hours-per-week'] == min_work_hours) & (df['salary'] == ">50K")]
num_min_workers = len(df.loc[(df['hours-per-week'] == min_work_hours) & (df['salary'] == ">50K")])/len(df.loc[(df['hours-per-week'] == min_work_hours)])
num_min_workers

0.1

In [92]:
# What country has the highest percentage of people that earn >50K?
pk = df.query('salary == ">50K"')['native-country'].value_counts(ascending=False, normalize=True)
highest_earning_country = pk.index[0]
highest_earning_country_percentage = round(pk.values[0]*100, 2)

array([7171,  146,   61,   44,   40,   39,   33,   30,   25,   25,   24,
         20,   20,   18,   16,   12,   12,   12,   10,    9,    8,    7,
          6,    6,    5,    5,    4,    4,    4,    3,    3,    3,    3,
          2,    2,    2,    2,    2,    2,    1])

In [94]:
# Identify the most popular occupation for
    # those who earn >50K in India.
top_IN_occupation = df.loc[(df['salary'] == ">50K") & (df['native-country'] == "India")]['occupation'].value_counts(ascending=False).index[0]
top_IN_occupation

occupation
Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: count, dtype: int64